/* variables.css */
:root {
  --ion-background-color: #f4f5f8;
  --ion-text-color: #000000;
  --ion-item-background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
    --ion-item-background: #1e1e1e;
  }
}

body {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

.ion-color-light {
  --ion-background-color: #f4f5f8;
  --ion-text-color: #000000;
  --ion-item-background: #ffffff;
}

.ion-color-dark {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
  --ion-item-background: #1e1e1e;
}
