.calendar {
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Set a fixed height for each cell */
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.2));
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  position: relative; /* For pseudo-element positioning */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transitions for interactions */
  color: white;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  
}

.cell {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.disabled {
  color: #ddd; /* Style for days not in the current month */
  pointer-events: none;
}
.rate-day-prompt {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #666; /* Example color; adjust as needed */
}
@media (max-width: 600px) {
  .column {
    height: 4rem; /* Smaller height for smaller screens */
    font-size: 0.8rem; /* Adjust font size for readability */
  }
}
.header, .row:first-of-type /* Assuming this is your week day header */ {
  flex: none; /* Do not grow or shrink, set a fixed height if necessary */
}

.body /* Assuming this is the container for your date cells */ {
  flex: auto; /* Takes up the remaining space */
}

.abitofspace {
  margin-top: 5rem;
}