.calendar {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem; /* Set a fixed height for each cell */
}

.cell {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.disabled {
  color: #ddd; /* Style for days not in the current month */
  pointer-events: none;
}
.rate-day-prompt {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #666; /* Example color; adjust as needed */
}
